on: [push]
defaults:
  run:
    working-directory: ./
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.201'
      - name: dummy appsettings.test.json
        shell: bash
        run: echo '{}' > appsettings.test.json
        working-directory: Criipto.Signatures.IntegrationTests
      - run: dotnet test
        working-directory: Criipto.Signatures.IntegrationTests
        env:
          CRIIPTO_SIGNATURES_CLIENT_ID: ${{ secrets.CRIIPTO_SIGNATURES_CLIENT_ID }}
          CRIIPTO_SIGNATURES_CLIENT_SECRET: ${{ secrets.CRIIPTO_SIGNATURES_CLIENT_SECRET }}